<div>
   <div class="container">
   <div class="row">
   <div class="col-md-8">
   <h1><a style="color: #efefef; text-decoration: none;">{{selectedForum.forumName}}</a></h1>
<h4>Written By : {{selectedBlog.userId}} &nbsp;&nbsp;   On : {{selectedForum.forumCreationDate | date}}</h4>
 </div>
 </div>
<div class="row">
 <div>
  <div>
   <h3><i class="fa fa-cube">{{selectedForum.forumName}}</i></h3>
   <p>{{selectedForum.forumDescription}}</p>
   <p> Decreased Production Costs: A quick return on investment (ROI) outweighs the initial setup costs. With robots, 
   throughput speeds increase, which directly impacts production. Shorter Cycle Times: A lean manufacturing line is 
   crucial for increasing efficiency. An automated robot has the ability to work at a constant speed without pausing
   for breaks,sleep, or vacations, and ultimately has the potential to produce more in a shorter time than a human worker.
  Improved Quality and on in the manufacturing industry is the process of integrating industrial machinery
  to automatically perform a variety of applications such as welding, material handling, packing, palletizing,
  dispensing, cutting, etc.</p>

 <p align="right"><strong>Best Regards</strong><br>
 <small>{{selectedForum.userId}}</small></p>
       
     </div><!-- /forum-area -->

<div>
<form name="myForm"> 
<textarea type="text" class="form-control" required placeholder="Write your comment here..." ng-model="ctrl.forumComment.forumComment" ></textarea><br>
<a href=""><button type="button" ng-click="ctrl.createForumComment(ctrl.forumComment,selectedForum.forumId);" ><i class="fa fa-comments-o"></i> Comment</button> </a>
</form> 
</div>
<div ng-repeat="forumComment in selectedForumComments"> <br>
 <h4>{{forumComment.forumCommentDate|date}}</h4>
        <h4>{{forumComment.userName}}</h4><br>
        <p>{{forumComment.forumComment}}</p>
        
</div>
    
 </div><!-- /col-md-8 -->
          
          
          </div><!-- /col-md-4 -->

        </div>
      </div>

      

      
     
      
      
    
   
    
   
    
 
