<div>
   <div class="container">
   <div class="row">
   <div class="col-md-8">
   <h1><a style="color: #efefef; text-decoration: none;">{{selectedForum.forumName}}</a></h1>
<h4>Written By : {{selectedBlog.userId}} &nbsp;&nbsp;   On : {{selectedForum.forumCreationDate | date}}</h4>
 </div>
 </div>
<div class="row">
 <div>
  <div>
   <h3><i class="fa fa-cube">{{selectedForum.forumName}}</i></h3>
       <p>{{selectedForum.forumDescription}}</p>
       <p>
         <strong>Best Regards</strong><br>
         <small>{{selectedForum.userId}}</small>
       </p>
     </div><!-- /forum-area -->
<div class="col-md-8 like-forum" ng-hide="currentUser==''">
<div>
	<button type="button" class="btn-more forum-like-style"
	ng-click="ctrl.likeForum(selectedForum, selectedForum.forumId)">
<i class="fa fa-thumbs-up" aria-hidden="true">&nbsp;Like&nbsp;&nbsp;<span>{{selectedForum.forumUserCount}}</span></i>
	</button>
</div>
<div>
<form name="myForm"> 
		<textarea type="text" class="form-control" required placeholder="Write your comment here..." ng-model="ctrl.forumComment.forumComment" ></textarea>
		<a href=""><button  type="button" ng-click="ctrl.createForumComment(ctrl.forumComment, selectedForum.forumId);"  class="w3-button w3-theme-d1 w3-margin-bottom"><i class="fa fa-comments-o"></i> Comment</button> </a>
		</form> 
</div>
<div ng-repeat="forumComment in selectedForumComments"> <br>
 <h4>{{forumComment.forumCommentDate|date}}</h4>
        <h4>{{forumComment.userName}}</h4><br>
        <p>{{forumComment.forumComment}}</p>
        
</div>
        </div>
          </div><!-- /col-md-8 -->
          
          
          </div><!-- /col-md-4 -->

        </div>
      </div>

      

      
     
      
      
    
   
    
   
    
 
