
<div>
	<div class="container">
	<div>
	
	<div class="col-md-4" ng-repeat="userdetail in ctrl.userdetails">
	<div>
	<div>
	<h3>{{userdetail.userId}}</h3>
	<h3>{{userdetail.userName}}</h3>
	
	<div>
	
	
<input type="button" class="btn btn-info floatright"
	ng-click="ctrl.getSelectedUser(userdetail.userId)" 
      value="Know More..">
	</div>
	
	<div>
	<h4><a><span><i class="fa fa-rss" aria-hidden="true"></i></span>{{userdetail.userName}}</a></h4>

		</div>
		</div>
		</div>
		</div>